body{
    margin:0;
    padding:0;
    background: url(bg.jpg) no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    width:100vw;
    height:100vh;
}
.card{
    width: 280px;
    padding: 20px;
    background: white;
    overflow: hidden;
    text-align:center;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
    box-shadow: 1px 1px 12px black;

}

.image{
    width:150px;
    height:150px;
    overflow:hidden;
    border-radius:50%;
    margin:28px auto;
}
.image img{
    width:100%;
    height:100%;
}
h1{
    color:#e74c3c;
    margin:20px 0 0 0;
    font-size:22px;
    text-transform: uppercase;

}
span{
    font-weight:700;
}
.media a{
    width:40px;
    font-size:30px;
    display:inline-block;
    margin:0 8px;
}

.fb{
    color:#4862a3;
    width:50px;
    height:50px;
}
.fb:hover{
    color:white;
    background:#4862a3;
    border-radius:50%;
}
.tw{
    color:#00aff0;
}
.tw:hover{
    color:white;
    background:#00aff0;
    border-radius:50%;
}
.ws{
    color:#01924b;
}
.ws:hover{
    color:white;
    background:#01924b;
    border-radius:50%;
}